# The .vscode env settings and github related instructions and workflows
.vscode/
.github/

# example: Flutter/Dart/Pub related
.dart_tool
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# example: ignore unneeded build outputs
/web/
/windows/
/linux/
/macos/


